<div class="container my-4">
  <h3>{{ title }}</h3>
  <button class="btn btn-primary" (click)="setOpen()">
    {{ open ? "Close" : "Create User" }}
  </button>
  <div class="row">
    @if (open) {
    <div class="col-4">
      <user-form
        [user]="userSelected"
        (newUserEventEmitter)="addUser($event)"
      />
    </div>
    } @else {
    <div class="col">
      <user
        [users]="users"
        (idUserEventEmitter)="removeUser($event)"
        (selectedUserEventEmitter)="setSelectedUser($event)"
      />
    </div>
    }
  </div>
</div>
